@model DLDA.GUI.DTOs.AssessmentDto
@{
    ViewData["Title"] = "Välj skattningsskala";
}

<div class="container mt-5 text-center">
    <h2 class="mb-3">Hur vill du svara på frågorna?</h2>
    <p>Välj det sätt som känns enklast</p>

    <form asp-action="SetScale" method="post">
        <input type="hidden" name="id" value="@Model.AssessmentID" />

        <div class="row justify-content-center mb-4">
            <!-- Smiley-alternativ -->
            <div class="col-md-4">
                <label for="smiley" class="d-block border p-3 rounded bg-light">
                    <input class="form-check-input me-2" type="radio" name="selectedScale" value="Smiley" id="smiley" />
                    <img src="~/Images/Smiley Overview.png" alt="Smileys" class="img-fluid mb-2" />
                    <h5>Smileys</h5>
                </label>
            </div>

            <!-- Siffra-alternativ -->
            <div class="col-md-4">
                <label for="number" class="d-block border p-3 rounded bg-light">
                    <input class="form-check-input me-2" type="radio" name="selectedScale" value="Numerisk" id="number" />
                    <img src="~/Images/Number Overview.png" alt="Siffror" class="img-fluid mb-2" />
                    <h5>Siffror</h5>
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Välj skattningsskala</button>
        <a asp-controller="PatientAssessment" asp-action="Index" class="btn btn-secondary ms-3">Avbryt</a>
    </form>
</div>
